<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->
<!--  <h2>Details for {{title}}</h2>-->
<!--  {{#if added}}-->
<!--  <h2>{{title}} added</h2>-->
    <!--<li>Title: {{ result.title }}</li>-->
    <!--<li>Director: {{ result.director }}-->
    <!--<li>Release Date: {{ result.releaseDate }}-->
    
    
     <!--<input type="button" onclick="location.href='add?title={{title}}';" value="Add" />-->

<!--  {{else}}-->
<!--  <h2>{{title}} Not added</h2>-->
<!--    not found-->
<!--  {{/if}}-->
<!--</body>-->
<!--</html> -->

<!DOCTYPE html>
<html>
<body>
  <title>{{title}} Add: </title>
  {{#if added}}
  <h2>{{title}} added</h2>
    
  {{else}}
  <h2>{{title}} not added. error occured</h2>
    not found
  {{/if}}
</body>
</html> 