<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Documentaries </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    
  <style type="text/css">
  .flex-container {
      display: -webkit-flex;
      display: flex;
      width: 600px;
      background-color: white;
      
  }
   .title{
    margin: 0 auto;
    text-align: center;
    width: 600px;
    font-size: 2em;
  }
  #item-list {
      background-color: lightgrey;
      width: 40%;
      padding: 0px 10px 0px 10px;
      border:solid black 1px;
  }
  #item-details {
      background-color: yellow;
      width: 50%;
      padding: 0px 10px 0px 30px;
      /*padding: 10px;*/
      border:solid black 1px;
  }
</style>

</head>

<body>

<header></header>
<div id="root"></div>
<script type="text/babel">


//const greeting = <h1>Hello, world</h1>; 
 
   
//parent
class MyApp extends React.Component {  
  constructor(props) {  
    super(props);  
    this.state = {
      items: {{{films}}},
      filter: "", // search term 
      currentItem:{}//current selected item
    };
    
  // bind App context to functions used by child components
      this.onSearchChange = this.onSearchChange.bind(this);
      this.onChange = this.onChange.bind(this);
      this.onSave = this.onSave.bind(this);
      this.onDelete = this.onDelete.bind(this);
      this.onClear = this.onClear.bind(this);
  
   
  } // end constructor
  
   // handle changes to search form
      onSearchChange(event) {
        // set search term. react will handle component updates 
        this.setState({filter: event.target.value.toLowerCase() });
      }//end onSearchChange
      
  // show item details when list item clicked
      showDetails(event){
        // event.target is item clicked. Assumes each item has an id attribute
        let editItem = this.state.items.find((item) => {
          return item._id == event.target.id;
        });
        this.setState({currentItem: editItem});
      }//end show details event
      
        // clear details form
      onClear() {
        this.setState({currentItem: {}});
      }//end clear
      
        // handle detail changes
      onChange(event) {
        var newItem = this.state.currentItem;
        newItem[event.target.name] = event.target.value
        this.setState({currentItem: newItem});
      }//end onChange
      
      // Handle item save
      onSave() {
        let newItem = this.state.currentItem;
        if (!newItem.title) {
          return;
        }

      fetch("/api/film/add", {
          method: "POST",
        	headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(newItem)
        }).then(res => res.json())
        	.then((json) => {
        	  
          let newData;
          if (!newItem._id) { // add new item to array
            newData = this.state.items;
            newItem._id = json._id;
            newData.push(newItem);
          } else { // update existing item 
            newData = this.state.items.map((item) => {
              if (item._id === newItem._id) {
                item = newItem; 
              }
              return item;
            });          
          }//close else
  
          // Update state with new array
          this.setState({items: newData});
        });
      }//close onSave
// Handle item delete
      onDelete(){
        let id = this.state.currentItem._id;
        console.log(id)
       
        fetch("/api/delete/" + id).then((response) => {
          return response.json();
        }).then((results) => {
          // Filter all items except the one to be removed
          const remainder = this.state.items.filter((item) => {
            return item._id !== id;
          
          });
          // Update state with new array
            this.setState({items: remainder, currentItem: {}});

        });

}//end onDelete


            
  render() { 
    return (
      <div>
        <div className="title">
          <Title title ="Documentary list"/>
          <SearchForm filter = {this.state.filter} change={this.onSearchChange}/>
         </div>
      <div className="flex-container">
      <ItemList 
      items={this.state.items}
      show={this.showDetails.bind(this)}
      />
      <ItemDetails item={this.state.currentItem} change={this.onChange} save={this.onSave} reset={this.onClear} delete ={this.onDelete}/>

        </div>
      </div>
       ); 
       
      
  } //end render
} //end MyApp class

 // UI elements
    
    const Title = ({title}) => {
      // simple component w/ single property
      return (
        <div><h2>{title}</h2></div>
        );
    }//end Title
    
        const SearchForm = (props) => {
        return (
          <div>
            <input
              type="text" placeholder="Enter a search term"
              value={props.filter}
              onChange={props.change}
            /><p/>
          </div>
        );
    }//end SearchForm
    
    const ItemList = ({items, filter, show}) => {
      // generate array of item nodes
       const itemNodes = items.map((item) => {
        if (!filter || item.title.toLowerCase().includes(filter)) { 
          return <li id={item._id} key={item._id} onClick={show}>{item.title}</li>
        }//end if
      });//end itemNodes
      
      return<span id="item-list">
      <h3>Documentary list</h3>
     <ul>{itemNodes}</ul>
     </span>;
    }//end itemList
 
       const ItemDetails = (props) => {
        return (
          <span id="item-details">
            <h3>Details:</h3>
            <form onChange={props.change}>
              <input type="text" name="title" placeholder="Title" value={props.item.title || ""} /><p/>
              <input type="text" name="director" placeholder="director" value={props.item.director || ""} /><p/>
              <input type="date" name="releaseDate" placeholder="releaseDate" value={getISOstring(props.item.releaseDate) || ""} />
              <p/>
            </form>
           <button onClick={props.save}>Save</button>  <button onClick={props.reset}>Reset</button> <button onClick={props.delete}>Delete</button>
          </span>
        );
    }//close ItemDetails 

ReactDOM.render(  <MyApp />,  document.getElementById('root') );

// convert date value to yyyy-mm-dd expected by HTML5 date field
//makes date pretty
  function getISOstring(dateString) {
    let date = (dateString) ? new Date(dateString) : new Date();
    let month = (date.getMonth() >=9) ? date.getMonth()+1 : "0" + (date.getMonth()+1);
    let day = (date.getDate() >=10) ? date.getDate() : "0" + date.getDate();
     return date.getFullYear() + "-" + month + "-" + day; 
  }
  
</script>

</body>
</html>
